# Please use 'systemctl --user edit fetchcord' to change 'ExecStart' when adding arguments!
# The following is a simple example of the override:

# [Service]
# ExecStart=
# ExecStart=-/usr/bin/fetchcord --nohost --time 15 --terminal 'gnome-terminal' --termfont 'Terminus Medium'

[Unit]
Description=Display OS info as Discord Rich Presence
Documentation=https://github.com/MrPotatoBobx/FetchCord
After=network.target multi-user.target graphical-session.target

[Service]
Environment=PYTHONUNBUFFERED=1
ExecStart=-/usr/bin/env fetchcord
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
